autocfg==0.0.8
certifi==2021.5.30
charset-normalizer==2.0.3
cycler==0.10.0
dataclasses==0.8
decord==0.6.0
gluoncv==0.11.0b20210717
graphviz==0.8.4
idna==3.2
jsonpatch==1.32
jsonpointer==2.1
kiwisolver==1.3.1
matplotlib==3.3.4
mxnet==1.8.0.post0
mxnet-cu101==1.8.0.post0
numpy==1.19.5
opencv-python==4.5.3.56
pandas==1.1.5
Pillow==8.3.1
portalocker==2.3.0
protobuf==3.17.3
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
requests==2.26.0
scipy==1.5.4
six==1.16.0
tensorboardX==2.4
torch==1.8.0+cu111
torchaudio==0.8.0
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.9.0+cu111
tornado==6.1
tqdm==4.61.2
typing-extensions==3.10.0.0
urllib3==1.26.6
visdom==0.1.8.9
websocket-client==1.1.0
yacs==0.1.8
